
// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: lighten(@base, 100%);
@syntax-cursor-color: @magenta;
@syntax-selection-color: lighten(@base, 15%);
@syntax-background-color: @base;

// Guide colors
@syntax-wrap-guide-color: darken(@base, 10%);
@syntax-indent-guide-color: darken(@base, 10%);
@syntax-invisible-character-color: lighten(@base, 25%);

// For find and replace markers
@syntax-result-marker-color: @magenta;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: lighten(@base, 25%);
@syntax-gutter-text-color-selected: lighten(@base, 75%);
@syntax-gutter-background-color: lighten(@base, 2%);
@syntax-gutter-background-color-selected: lighten(@base, 2%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;

// Code syntax colors
@string-color: @green;



// Colors
@base: hsl(220,10%,15%); // Syntax background colour

@light-blue: hsl(240,100%,75%);
@blue: hsl(240,100%,60%);
@light-green: hsl(140,100%,75%);
@green: hsl(140,100%,60%);
@light-purple: hsl(280,100%,75%);
@purple: hsl(280,100%,60%);
@light-orange: hsl(20,100%,75%);
@orange: hsl(20,100%,60%);
@light-red: hsl(0,100%,75%);
@red: hsl(0,100%,60%);
@magenta: hsl(310,100%,80%);

// Other colours
